@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 20s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url("../images/1.jpg");
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    color: rgb(196, 196, 196);
    font-family: 'Fira Code', monospace;
    font-size: 1.5rem;
}

@keyframes slideBg {
    0% {
        background-image: url("../images/1.jpg");
    }
    9.09% {
        background-image: url("../images/2.jpg");
    }
    18.18% {
        background-image: url("../images/3.jpg");
    }
    27.27% {
        background-image: url("../images/4.jpg");
    }
    36.36% {
        background-image: url("../images/5.jpg");
    }
    45.45% {
        background-image: url("../images/6.jpg");
    }
    54.54% {
        background-image: url("../images/7.jpg");
    }
    63.63% {
        background-image: url("../images/8.jpg");
    }
    72.72% {
        background-image: url("../images/9.jpg");
    }
    81.81% {
        background-image: url("../images/10.jpg");
    }
    90.90% {
        background-image: url("../images/11.jpg");
    }
}
